impl_1/*
!impl_1/synlog/
!impl_1/*rpt
!impl_1/*html
!impl_1/*bit

cva6_combined_rtl/ariane/impl_1/*
!cva6_combined_rtl/ariane/impl_1/synlog/
!cva6_combined_rtl/ariane/impl_1/*rpt
!cva6_combined_rtl/ariane/impl_1/*html
!cva6_combined_rtl/ariane/impl_1/*bit